* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 6rem;
}

.timer {
  font-size: 6.2rem;
}

i {
  font-size: 4rem;
  cursor: pointer;
}

i:hover {
  color: #f50057;
  transition: 0.4s;
}

.sounds-container {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "ph-tree ph-cloud-rain"
    "ph-storefront ph-campfire";
}

.ph-tree {
  grid-area: ph-tree;
}

.ph-cloud-rain {
  grid-area: ph-cloud-rain;
}

.ph-storefront {
  grid-area: ph-storefront;
}

.ph-campfire {
  grid-area: ph-campfire;
}
